.container {
    background-color: rgb(63, 81, 181);
    border-radius: 1.2rem !important;
    border: none;
    padding: 0.7rem 1.6rem;
}

.container:hover, .container:focus, .container:active {
    background-color: rgb(63, 81, 181);
}

